@model ASPace.Models.Comment;

<div class="row">
    <div class="col-12">
        <!--Check if the comment is liked by the current user-->
        @{ bool IsLikedByCurrentUser = false; }
        @if (Model.CommentLikes != null)
        {
            @foreach (ASPace.Models.CommentLike cl in Model.CommentLikes)
            {
                if (cl.UserId == ViewBag.CurrentUser.Item1)
                {
                    IsLikedByCurrentUser = true;
                    break;
                }
            }
        }
        <div class="card card-blue2 mb-3">
            <div class="card-body">
                <div class="card-title d-flex flex-row justify-content-between">
                    <h5><i class="bi bi-person-circle"></i>&nbsp;<a href="/Users/Show/@Model.User.UserName" class="text-decoration-none username-link">@Model.User.UserName</a></h5>
                    <small class="text-muted">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss")</small>
                </div>
                <div>@Model.Content</div>
                <hr />
                <div class="d-flex flex-direction-row justify-content-start">
                    <!--Delete/Edit Buttons (requires permission)-->
                    @if (ViewBag.CurrentUser.Item2 || ViewBag.CurrentUser.Item1 == Model.UserId){
                        <a href="/Comments/Edit/@Model.CommentId" class="btn btn-sm background-color-cream3 me-2">Edit</a>
                        @using (Html.BeginForm(actionName: "Delete", controllerName: "Comments", method: FormMethod.Post, routeValues: new { id = Model.CommentId })){
                            <button type="submit" class="btn btn-sm background-color-cream3 me-2">Delete</button>
                        }

                    }
                    <!--Like button-->
                    @if (!IsLikedByCurrentUser){
                        using (Html.BeginForm(actionName: "New", controllerName: "CommentLikes", method: FormMethod.Post)){
                            @Html.Hidden("CommentId", (int)Model.CommentId)
                            @Html.Hidden("UserId", (string)ViewBag.CurrentUser.Item1)

                            <button type="submit" class="btn btn-sm btn-primary me-2">Like&nbsp;@Html.Partial("PartialCommentLike")</button>
                        }
                    } else {
                        using (Html.BeginForm(actionName: "Delete", controllerName: "CommentLikes", method: FormMethod.Post, routeValues: new { CommentId = Model.CommentId, UserId = (string)ViewBag.CurrentUser.Item1 })){
                            <button type="submit" class="btn btn-sm btn-primary me-2">Like&nbsp;@Html.Partial("PartialCommentLike")</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
