@{
    ViewBag.Title = "Friend Requests";
}

@if(ViewBag.Message != null){
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" align="center">
            <div class="toast show align-items-center text-white bg-success border-0 m-4" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">@ViewBag.Message</div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
}


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="card card-blue2">
            <div class="card-body">
                <h5 class="card-title pb-3 border-2 border-bottom" style="border-bottom-color: var(--blue5) !important;">Received Friend Requests</h5>
                @if(ViewBag.Requests.Length == 0){
                    <p class="text-muted mb-2"><em>You don't have any pending friend requests</em></p>
                } else {
                    <ul class="list-unstyled mb-0 overflow-auto" style="max-height: 750px">
                        @for(int i = 0; i < ViewBag.Requests.Length; i ++){
                            var request = ViewBag.Requests[i];
                            <li class="p-2 border-bottom userslist-item-hover" style="border-bottom-color: var(--blue5) !important;">
                                <div class="d-flex flex-row justify-content-between">
                                    <p><a class="text-decoration-none username-link" href="/Users/Show/@request.UserName">@request.UserName</a><p>
                                    <small class="text-muted">@request.RequestDate</small>
                                </div>
                                <div class="d-flex flex-row justify-content-between">
                                    <form method="post" action="/Friendships/New/@request.UserId">
                                        <button class="btn btn-sm background-color-cream3">Accept</button>
                                    </form>
                                    <form method="post" action="/FriendRequests/Delete/@request.UserId">
                                        <button class="btn btn-sm background-color-cream3">Reject</button>
                                    </form>
                                </div>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-blue2">
            <div class="card-body">
                <h5 class="card-title pb-3 border-2 border-bottom" style="border-bottom-color: var(--blue5) !important;">Sent Friend Requests</h5>
                @if(ViewBag.MyRequests.Length == 0){
                    <p class="text-muted mb-2"><em>You don't have any pending sent friend requests</em></p>
                } else {
                    <ul class="list-unstyled mb-0 overflow-auto" style="max-height: 750px">
                        @for(int i = 0; i < ViewBag.MyRequests.Length; i ++){
                            var request = ViewBag.MyRequests[i];
                            <li class="p-2 border-bottom userslist-item-hover" style="border-bottom-color: var(--blue5) !important;">
                                <div class="d-flex flex-row justify-content-between">
                                    <p><a class="text-decoration-none username-link" href="/Users/Show/@request.UserName">@request.UserName</a><p>
                                    <small class="text-muted">@request.RequestDate</small>
                                </div>
                                <div class="d-flex flex-row justify-content-between">
                                    <form method="post" action="/FriendRequests/Cancel/@request.UserId">
                                        <button class="btn btn-sm background-color-cream3">Cancel</button>
                                    </form>
                                </div>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
