@model ASPace.Models.Comment
@{
    ViewBag.Title = "Edit";
}

<h1>@TempData["message"]</h1>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card card-blue2">
            <div class="card-body">
                <h3 class="card-title pb-3 border-2 border-bottom" style="border-bottom-color: var(--blue5) !important;">Edit Comment</h3>
                @using (Html.BeginForm(actionName: "Edit", controllerName: "Comments", method: FormMethod.Post, routeValues: new { id = Model.CommentId }))
                {
                    <div class="form">
                        @Html.HiddenFor(m => m.CommentId)
                        @Html.HiddenFor(m => m.PostId)
                        @Html.HiddenFor(m => m.LikeCount)

                        <br />

                        <strong>            <strong>@Html.Label("Content", "Comment's content")</strong>
                        <br /></strong>
                        <br />
                                    <br />
                                    @Html.EditorFor(m => m.Content, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })
                        <br />

                        @Html.HiddenFor(m => m.Date)
                        <button class="btn btn-sm background-color-cream3" type="submit">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

