@{
    ViewBag.Title = "Posts";
}

<!-- For alerts -->
@if (TempData["message"] == "You don't have enough permissions to modify this post!")
{
    <div class="alert alert-danger" role="alert" style="text-align:center; margin-top:20px;">
        @TempData["message"]
    </div>
}
else if (TempData["message"] != "The group has been created!" && TempData["message"] != null)
{
    <div class="alert alert-success" role="alert" style="text-align:center; margin-top:20px;">
        @TempData["message"]
    </div>
}

<!-- Search bar -->
<br />

<div class="row">
    <div class="col-md-4">
        <div class="card card-blue2">
            <div class="card-body">
                @if (ViewBag.SearchString != ""){
                    <h5 class="card-title p-3">Search result for "@ViewBag.SearchString"</h5>
                } else {
                    <h5 class="card-title p-3">@ViewBag.Title</h5>
                }

                <form class="d-flex">
                    <input class="form-control ms-3 me-2" type="search" name="search" placeholder="Search Post" aria-label="Search" value=@ViewBag.SearchString>
                    <button class="btn background-color-cream3" type="submit"><i class="bi bi-search" ></i></button>
                </form>
                <a class="btn background-color-cream3 m-3" asp-area="" asp-controller="Posts" asp-action="New">Add Post</a>
            </div>
        </div>
    </div>

    <div class="col-md-8" style="margin-bottom: 100px;">
        @foreach (ASPace.Models.Post post in ViewBag.Posts) {
            @Html.Partial("PartialPost", post)
        }
    </div>
</div>