@model ASPace.Models.Post

@{
    ViewBag.Title = "New Post";
}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card card-blue2">
            <div class="card-body">
                <h3 class="card-title pb-3 border-2 border-bottom"  style="border-bottom-color: var(--blue5) !important;">Add a new post!</h3>
                @using (Html.BeginForm(actionName: "New", controllerName: "Posts")){
                    <div class="form">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <strong> @Html.Label("Title", "Post Title", new {@class="form-label"})</strong>
                        <br />
                        @Html.TextBox("Title", "", new { @class = "form-control" })
                        @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
                        <br />
                        <strong>@Html.Label("Content", "Post description:", new {@class="form-label"})</strong>
                        <br />
                        @Html.TextArea("Content", Model.Content, new { @class = "form-control", @rows=4 })
                        @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                        <br />
                        @{
                            TempData["action"] = "Index";
                            TempData["controller"] = "Posts";
                            TempData["id"] = null;
                        }
                        <br />
                        @Html.HiddenFor(m => m.Date)
                        @Html.HiddenFor(m => m.UserId)

                        <div class="d-flex flex-row justify-content-between">
                            <button type="submit" class="btn background-color-cream3">Add post</button>
                            @Html.ActionLink("Back to posts", "Index", new { controller = "Posts" }, new { @class = "btn background-color-cream3" })
                        </div>

                        <br />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
