@model ASPace.Models.Post

@{
    ViewBag.Title = "Show";
}
@if (TempData["message"] == "The post has been successfully changed!")
{
    <div class="alert alert-success" role="alert" style="text-align:center; margin-top:20px;">
        @TempData["message"]
    </div>
}
else if (TempData["message"] == "You don't have enough permissions to modify this post!")
{
    <div class="alert alert-danger" role="alert" style="text-align:center; margin-top:20px;">
        @TempData["message"]
    </div>
}

<br />

<div class="row">
    <div class="col-md-5" style="margin-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card card-cream3">
                        <div class="card-body">
                            @Html.Partial("PartialPost", Model)
                            <div class="d-flex flex-direction-row justify-content-betwen">
                                <div class="d-flex flex-direction-row justify-content-start">
                                    @if (ViewBag.CurrentUser.Item2){
                                        if (ViewBag.CurrentUser.Item1 == Model.UserId){
                                            <a href="/Posts/Edit/@Model.PostId" class="btn background-color-blue1 me-2"><i class="bi bi-pencil"></i>Edit</a>
                                        }
                                        @using (Html.BeginForm(actionName: "Delete", controllerName: "Posts", method: FormMethod.Post, routeValues: new { id = Model.PostId })){
                                            <button type="submit" class="btn background-color-blue1 me-2"><i class="bi bi-trash"></i>Delete</button>
                                        }
                                    }
                                </div>
                                    @if (!ViewBag.IsLikedByUser){
                                        using (Html.BeginForm(actionName: "New", controllerName: "PostLikes", method: FormMethod.Post)){
                                            <div class="btn-group">
                                                @Html.Hidden("PostId", Model.PostId)
                                                @Html.Hidden("UserId", (string)ViewBag.CurrentUser.Item1)
                                                <button type="submit" class="btn btn-outline-primary pull-right">
                                                    <i class="bi bi-hand-thumbs-up"></i>Like&nbsp;<span class="badge background-color-blue1 text-dark">@Model.LikeCount</span>
                                                </button>
                                                <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="visually-hidden">Toggle Dropdown</span>
                                                </button>
                                                @Html.Partial("PartialPostLike")
                                            </div>
                                        }
                                    } else {
                                        using (Html.BeginForm(actionName: "Delete", controllerName: "PostLikes", method: FormMethod.Post, routeValues: new { PostId = Model.PostId, UserId = (string)ViewBag.CurrentUser.Item1 })) {
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-primary pull-right">
                                                    <i class="bi bi-hand-thumbs-up"></i>Like&nbsp;<span class="badge background-color-cream3 text-dark">@Model.LikeCount</span>
                                                </button>
                                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="visually-hidden">Toggle Dropdown</span>
                                                </button>
                                                @Html.Partial("PartialPostLike")
                                            </div>
                                        }
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    @using (Html.BeginForm(actionName: "New", controllerName: "Comments")){
                        <div class="card my-4 card-cream3">
                            @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                            <div class="card-body">
                                @Html.Hidden("PostId", Model.PostId)
                                <strong>@Html.Label("Content", "Enter your comment", new { @class = "form-label" })</strong>
                                @Html.TextArea("Content", "", new { @class = "form-control form-control-lg"})
                                @*@Html.ValidationMessage("Content", "Mesaj", new { @class = "text-danger" })*@
                                <button class="btn background-color-blue1 pull-right mt-3" type="submit">Add comment</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card border-0 background-color-blue1">
                        @if (Model.GroupId != null){
                            @Html.ActionLink("Back to Group", "Show", "Groups", new { id = Model.GroupId }, new { @class = "btn background-color-cream3 btn-block mb-2" });
                        }
                        @Html.ActionLink("Go to posts", "Index", new { controller = "Posts" }, new { @class = "btn background-color-cream3 btn-block mb-2" })
                        @{ string text = "Go to " + Model.User.UserName + "'s page ";}
                        @Html.ActionLink(text, "Show", "Users", new { id = Model.User.UserName }, new { @class = "btn background-color-cream3 btn-block mb-2" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        @if (Model.Comments != null){
            <div class="container">
                @foreach (ASPace.Models.Comment comm in Model.Comments){
                    @Html.Partial("PartialComment", comm);
                }
            </div>
        }
    </div>
</div>
